<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SnsProjectD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404code.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>sns.member.action.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainController</servlet-name>
    <servlet-class>sns.main.action.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteBoard</servlet-name>
    <servlet-class>sns.board.action.WriteBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteBoard</servlet-name>
    <url-pattern>/WriteBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentInsertServlet</servlet-name>
    <servlet-class>sns.board.action.CommentInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentInsertServlet</servlet-name>
    <url-pattern>/CommentInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentReadServlet</servlet-name>
    <servlet-class>sns.board.action.CommentReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentReadServlet</servlet-name>
    <url-pattern>/CommentReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentLengthServlet</servlet-name>
    <servlet-class>sns.board.action.CommentLengthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentLengthServlet</servlet-name>
    <url-pattern>/CommentLengthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentReInsertServlet</servlet-name>
    <servlet-class>sns.board.action.CommentReInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentReInsertServlet</servlet-name>
    <url-pattern>/CommentReInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentDeleteServlet</servlet-name>
    <servlet-class>sns.board.action.CommentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentDeleteServlet</servlet-name>
    <url-pattern>/CommentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentUpdateServlet</servlet-name>
    <servlet-class>sns.board.action.CommentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentUpdateServlet</servlet-name>
    <url-pattern>/CommentUpdateServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>SnsProject</description>
    <res-ref-name>jdbc/SnsProject</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>